<!-- Item -->
<div class="member row flex <%= alt %>">
  <div class="hero col">
    <div class="hero-img">
      <img class="responsive-img circle" src="<%= image %>">
    </div>
  </div>
  <div class="text col">
    <span class="name"><%= name %></span>
    <span class="role"><%= role %></span>
    <p class="text-muted"><%= description %></p>
  </div>
</div>
<!-- /Item -->
