<!-- Item -->
<div class="project row flex <%= alt %>">
  <div class="flex-hero col">
    <div class="hero-img">
      <img class="responsive-img" src="<%= image %>">
    </div>
  </div>
  <div class="flex-text col">
    <span class="name"><%= name %></span>
    <p class="text-muted"><%= description %></p>
    <a class="btn red waves-effect waves-light" href="<%= url %>">Read the Case Study</a>
  </div>
</div>
<!-- /Item -->
