<!-- Item -->
<div class="project row flex <%= alt %>">
  <div class="flex-hero col">
    <div class="hero-img">
      <img class="responsive-img" src="<%= image %>">
    </div>
  </div>
  <div class="flex-text col">
    <span class="name"><%= name %></span>
    <span class="categories"><%= categories %></span>
    <span class="technologies"><%= technologies %></span>
    <p class="text-muted"><%= description %></p>
  </div>
</div>
<!-- /Item -->
